.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 2rem;
    padding: 2rem;
    list-style-position: inside;
}

.container{
    position: relative;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.inner{
    position: relative;
    width: 100%;
    background: var(--surface-variant);
    color: var(--on-surface-variant);
    border-radius: 25px;
    box-shadow: 0px 0px 10px -5px var(--shadow);
}

.inner:last-child{
    margin-bottom: 2rem;
}

.title{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--on-surface-variant);
}

.title_content{
    display: flex;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.title p{
    margin: 0;
    padding: 1rem;
    color: var(--on-secondary-container);
}

.title svg{
    height: 2rem;
    min-width: 2rem;
    width: 2rem;
    margin: 0 1rem;
    fill: var(--primary);
}