---
import Appstores from '../../components/Appstores';
import FeatureImage from '../../components/FeatureImage';
import Gallery from '../../components/Gallery';
import Layout_Body from '../../layouts/Layout_Body.astro';
import type { Language } from '../../types/types_global';
import SalesPitch from '../../text/salesPitch_DE.mdx';

const language = Astro.currentLocale as Language
---

<Layout_Body language={language} >
	
	<FeatureImage language={language} />

	<Appstores language={language} />

	<section class="content" id="home">
		<SalesPitch />
	</section>

	<Gallery language={language} />

</Layout_Body>
